<form [formGroup]="addTaskForm" *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <mat-form-field [ngStyle]="{'width': '100%'}">
      <mat-label for="text">Task</mat-label>
      <input matInput type="text" name="text" formControlName="text" id="text" placeholder="Add Task" />
    </mat-form-field>
    <span *ngIf="text && text.invalid && text.touched" [ngStyle]="{'color': 'red'}">This is invalid</span>
  </div>
  <div class="form-control">
    <mat-form-field [ngStyle]="{'width': '100%'}">
      <mat-label for="text">Day & Time</mat-label>
      <input matInput type="text" name="day" id="day" formControlName="day" placeholder="Add Day and Time" />
    </mat-form-field>
    <span *ngIf="day && day.invalid && day.touched" [ngStyle]="{'color': 'red'}">This is invalid</span>
  </div>
  <div class="form-control">
    <mat-checkbox formControlName="reminder">Set Reminder</mat-checkbox>
  </div>

  <input [disabled]="addTaskForm.invalid" type="submit" value="Save Task" class="btn btn-block">
</form>
